Repository osism/metalbox: changes, and which Zuul jobs are due for each by the changed paths.
All: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-octavia-image, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish, metalbox-mirror-octavia-image-publish

metalbox-mirror-debian-packages:
  nodeset: ubuntu-noble-large
  pre-run: zuul/pre-mirror-debian-packages.yml
  run: zuul/mirror-debian-packages.yml
  timeout: 16200

metalbox-mirror-container-images:
  nodeset: ubuntu-noble-large
  pre-run: zuul/pre-mirror-container-images.yml
  run: zuul/mirror-container-images.yml

metalbox-mirror-container-images-full:
  parent: metalbox-mirror-container-images
  timeout: 3600
  vars:
    full: true

metalbox-mirror-octavia-image:
  nodeset: ubuntu-noble-large
  pre-run: zuul/pre-mirror-octavia-image.yml
  run: zuul/mirror-octavia-image.yml

metalbox-mirror-debian-packages-publish:
  parent: metalbox-mirror-debian-packages
  semaphores:
  - name: semaphore-metalbox-mirror-debian-packages-publish
  vars:
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

metalbox-mirror-container-images-publish:
  parent: metalbox-mirror-container-images
  semaphores:
  - name: semaphore-metalbox-mirror-container-images-publish
  vars:
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

metalbox-mirror-container-images-full-publish:
  parent: metalbox-mirror-container-images
  semaphores:
  - name: semaphore-metalbox-mirror-container-images-full-publish
  timeout: 3600
  vars:
    full: true
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

metalbox-mirror-octavia-image-publish:
  parent: metalbox-mirror-octavia-image
  semaphores:
  - name: semaphore-metalbox-mirror-octavia-image-publish
  vars:
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

Fix container registry DNAT port from 5000 to 5001 (port 5000 is Keystone) (#324)
  contrib/yrzn/vrf-bridge-setup.sh
Due: none

Replace osism apply httpd with direct docker run for repository data sync
  scripts/update-repository.sh
Due: none

Replace osism apply httpd with direct docker run for repository data sync (#325)
  scripts/update-repository.sh
Due: none

Add cephadm and ceph-common from Ubuntu Cloud Archive to mirror
  zuul/files/create-mirror.sh
  zuul/files/packages.list
  zuul/files/repositories-restricted.conf
  zuul/files/repositories.conf
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Add cephadm and ceph-common from Ubuntu Cloud Archive to mirror (#326)
  zuul/files/create-mirror.sh
  zuul/files/packages.list
  zuul/files/repositories-restricted.conf
  zuul/files/repositories.conf
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Fix mirror script hanging on repos with multiple package versions
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Fix mirror script hanging on repos with multiple package versions (#327)
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Fix mirror downloading wrong architecture packages from flat repos
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Fix mirror downloading wrong architecture packages from flat repos (#328)
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Add smallstep/step-ca:0.28.4 to mirrored container images
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

Add smallstep/step-ca:0.28.4 to mirrored container images (#329)
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

Fix mirror not resolving Pre-Depends packages (e.g. netdata-user)
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Fix mirror not resolving Pre-Depends packages (e.g. netdata-user) (#330)
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Add ovn-sb-db-relay:2025.1 to mirrored container images
  zuul/vars/container-images-2025.1.yml
Due: none

Add ovn-sb-db-relay:2025.1 to mirrored container images (#331)
  zuul/vars/container-images-2025.1.yml
Due: none

Add missing designate-sink image
  zuul/vars/container-images-2024.2.yml
  zuul/vars/container-images-2025.1.yml
Due: none

Add missing designate-sink image (#332)
  zuul/vars/container-images-2024.2.yml
  zuul/vars/container-images-2025.1.yml
Due: none

Add conntrack to mirrored Ubuntu packages
  zuul/files/packages.list
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Add conntrack to mirrored Ubuntu packages (#334)
  zuul/files/packages.list
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Add ovn-network-agent v0.2.0 to mirrored Debian packages
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Add ovn-network-agent v0.2.0 to mirrored Debian packages (#333)
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Fix CIMC config VNIC parameter
  environments/manager/playbook-cimc-config.yml
Due: none

CIMC: Add configuration of vNIC interfaces
  environments/manager/playbook-cimc-config.yml
Due: none

mirror: add ara-server 1.7.5 image
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

mirror: add ara-server 1.7.5 image (#337)
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

Add tool to generate container image mirror lists
  README.md
  scripts/generate_image_list.py
  scripts/metalbox-images.yml
  scripts/test_generate_image_list.py
Due: none

mirror: add stable container images (kolla release 2025.1, OSISM 10.0.0)
  .zuul.yaml
  zuul/vars/container-images-stable.yml
Due: none

mirror: add stable container images (kolla release 2025.1, OSISM 10.0.0) (#339)
  .zuul.yaml
  zuul/vars/container-images-stable.yml
Due: none

README: update download references from 2024.2 to 2025.1
  README.md
Due: none

README: update download references from 2024.2 to 2025.1 (#340)
  README.md
Due: none

README: document stable container registry variant
  README.md
Due: none

README: document stable container registry variant (#341)
  README.md
Due: none

mirror: restructure container image tarballs
  .zuul.yaml
  README.md
  zuul/mirror-container-images.yml
  zuul/vars/container-images-manager-stable.yml
  zuul/vars/container-images-metalbox.yml
  zuul/vars/container-images-openstack-2024.2.yml
  zuul/vars/container-images-openstack-2025.1.yml
  zuul/vars/container-images-openstack-stable.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

mirror: restructure container image tarballs (#342)
  .zuul.yaml
  README.md
  zuul/mirror-container-images.yml
  zuul/vars/container-images-manager-stable.yml
  zuul/vars/container-images-metalbox.yml
  zuul/vars/container-images-openstack-2024.2.yml
  zuul/vars/container-images-openstack-2025.1.yml
  zuul/vars/container-images-openstack-stable.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

scripts: add list-registry-images.sh to list images in local registry
  README.md
  scripts/list-registry-images.sh
Due: none

scripts: add list-registry-images.sh to list images in local registry (#343)
  README.md
  scripts/list-registry-images.sh
Due: none

mirror: add missing container images to stable manager list
  zuul/vars/container-images-manager-stable.yml
Due: none

mirror: add missing container images to stable manager list (#344)
  zuul/vars/container-images-manager-stable.yml
Due: none

Path conditions:
  metalbox-mirror-debian-packages: any of: ^zuul/files/Containerfile, ^zuul/files/create-mirror.sh, ^zuul/files/packages.list, ^zuul/files/repositories.conf, ^zuul/mirror-debian-packages.yml, ^zuul/pre-mirror-debian-packages.yml
  metalbox-mirror-container-images: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-container-images-full: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-octavia-image: any of: ^scripts/octavia-export.sh$, ^zuul/mirror-octavia-image.yml, ^zuul/pre-mirror-octavia-image.yml
  metalbox-mirror-debian-packages-publish: any of: ^zuul/files/Containerfile, ^zuul/files/create-mirror.sh, ^zuul/files/packages.list, ^zuul/files/repositories.conf, ^zuul/mirror-debian-packages.yml, ^zuul/pre-mirror-debian-packages.yml
  metalbox-mirror-container-images-publish: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-container-images-full-publish: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-octavia-image-publish: any of: ^scripts/octavia-export.sh$, ^zuul/mirror-octavia-image.yml, ^zuul/pre-mirror-octavia-image.yml
