Repository osism/metalbox: changes, and which Zuul jobs are due for each by the changed paths.
All: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-octavia-image, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish, metalbox-mirror-octavia-image-publish

Path conditions:
  metalbox-mirror-debian-packages: any of: ^zuul/files/Containerfile, ^zuul/files/create-mirror.sh, ^zuul/files/packages.list, ^zuul/files/repositories.conf, ^zuul/mirror-debian-packages.yml, ^zuul/pre-mirror-debian-packages.yml
  metalbox-mirror-container-images: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-container-images-full: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-octavia-image: any of: ^scripts/octavia-export.sh$, ^zuul/mirror-octavia-image.yml, ^zuul/pre-mirror-octavia-image.yml
  metalbox-mirror-debian-packages-publish: any of: ^zuul/files/Containerfile, ^zuul/files/create-mirror.sh, ^zuul/files/packages.list, ^zuul/files/repositories.conf, ^zuul/mirror-debian-packages.yml, ^zuul/pre-mirror-debian-packages.yml
  metalbox-mirror-container-images-publish: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-container-images-full-publish: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-octavia-image-publish: any of: ^scripts/octavia-export.sh$, ^zuul/mirror-octavia-image.yml, ^zuul/pre-mirror-octavia-image.yml

README: document streaming the Metalbox image to disk with funzip
  README.md
Due: none

README: document streaming the Metalbox image to disk with funzip (#345)
  README.md
Due: none

Rename repository from cfg-generics -> generics
  inventory/99-overwrite
Due: none

Rename repository from cfg-generics -> generics (#346)
  inventory/99-overwrite
Due: none

Document usage of software raid
  README.md
Due: none

Remove orphaned Pipfile
  Pipfile
Due: none

Remove orphaned Pipfile (#348)
  Pipfile
Due: none

zuul: verify bzip2 archive integrity before upload
  zuul/mirror-container-images.yml
  zuul/mirror-debian-packages.yml
Due: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

Document usage of software raid (#347)
  README.md
Due: none

README: fix software raid size example to use upper bound
  README.md
Due: none

Update README.md
  README.md
Due: none

README: fix software raid size example to use upper bound (#350)
  README.md
Due: none

zuul: verify bzip2 archive integrity before upload (#349)
  zuul/mirror-container-images.yml
  zuul/mirror-debian-packages.yml
Due: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

zuul: bump mirror-container-images job timeouts to 7200s
  .zuul.yaml
Due: none

zuul: bump mirror-container-images job timeouts to 7200s (#352)
  .zuul.yaml
Due: none

zuul: generate, upload, and print SHA256 checksum in mirror jobs
  zuul/mirror-container-images.yml
  zuul/mirror-debian-packages.yml
Due: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

zuul: generate, upload, and print SHA256 checksum in mirror jobs (#353)
  zuul/mirror-container-images.yml
  zuul/mirror-debian-packages.yml
Due: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

Network dispatcher script for iptables rules
  environments/manager/get-netbox-config.py
  inventory/host_vars/metalbox/vars.yml
Due: none

Network dispatcher script for iptables rules (#354)
  environments/manager/get-netbox-config.py
  inventory/host_vars/metalbox/vars.yml
Due: none

README: note initial boot delay while container registry is created
  README.md
Due: none

get-netbox-config: append trailing newline to generated iptables.sh
  environments/manager/get-netbox-config.py
Due: none

Move cisco_huu_tool from scripts/ to contrib/
  contrib/cisco_huu_tool
Due: none

Add contrib/ to operator PATH
  environments/configuration.yml
Due: none

README: note initial boot delay while container registry is created (#355)
  README.md
Due: none

update-repository: gate data sync on /opt/httpd/data/root
  scripts/update-repository.sh
Due: none

zuul: pull external manager images directly from Docker Hub without cache
  zuul/mirror-container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

update-repository: gate data sync on /opt/httpd/data/root (#360)
  scripts/update-repository.sh
Due: none

manager: use ara 1.7.5
  environments/manager/images.yml
Due: none

manager: use ara 1.7.5 (#362)
  environments/manager/images.yml
Due: none

fix octavia-import.sh
  scripts/octavia-export.sh
  scripts/octavia-import.sh
Due: metalbox-mirror-octavia-image, metalbox-mirror-octavia-image-publish

Fix octavia-import.sh (#363)
  scripts/octavia-export.sh
  scripts/octavia-import.sh
Due: metalbox-mirror-octavia-image, metalbox-mirror-octavia-image-publish

Fix spelling in RAID documentation
  README.md
Due: none

Document how to set speed limits for mdraid
  README.md
Due: none
