Repository osism/metalbox: changes, and which Zuul jobs are due for each by the changed paths.
All: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

metalbox-mirror-debian-packages:
  nodeset: ubuntu-noble-large
  pre-run: zuul/pre-mirror-debian-packages.yml
  run: zuul/mirror-debian-packages.yml
  timeout: 16200

metalbox-mirror-container-images:
  nodeset: ubuntu-noble-large
  pre-run: zuul/pre-mirror-container-images.yml
  run: zuul/mirror-container-images.yml

metalbox-mirror-container-images-full:
  parent: metalbox-mirror-container-images
  timeout: 3600
  vars:
    full: true

metalbox-mirror-debian-packages-publish:
  parent: metalbox-mirror-debian-packages
  semaphores:
  - name: semaphore-metalbox-mirror-debian-packages-publish
  vars:
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

metalbox-mirror-container-images-publish:
  parent: metalbox-mirror-container-images
  semaphores:
  - name: semaphore-metalbox-mirror-container-images-publish
  vars:
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

metalbox-mirror-container-images-full-publish:
  parent: metalbox-mirror-container-images
  semaphores:
  - name: semaphore-metalbox-mirror-container-images-full-publish
  timeout: 3600
  vars:
    full: true
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

Add scripts for single image export and import (#279)
  README.md
  scripts/single-image-export.sh
  scripts/single-image-import.sh
Due: none

Fix dependency resolution to use all repositories
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Fix dependency resolution to use all repositories (#280)
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Add script to fetch MAC addresses
  contrib/get_mac.sh
Due: none

Workaround unversioned change in CISCO RF extension
  environments/manager/playbook-cimc-config.yml
Due: none

Workaround unversioned change in CISCO RF extension (#282)
  environments/manager/playbook-cimc-config.yml
Due: none

Add checksum file to octavia export image
  scripts/octavia-export.sh
Due: none

Add checksum file to octavia export image (#283)
  scripts/octavia-export.sh
Due: none

Trigger octavia build when export script changes
  .zuul.yaml
Due: none

Trigger octavia build when export script changes (#284)
  .zuul.yaml
Due: none

Fix device state in netbox filter
  environments/manager/configuration.yml
Due: none

Add NFS client package
  zuul/files/packages.list
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Fix device state in netbox filter (#285)
  environments/manager/configuration.yml
Due: none

Add NFS client package (#286)
  zuul/files/packages.list
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Update README
  README.md
Due: none

Add script to manage CISCO HUU via redfish
  scripts/cisco_huu_tool
Due: none

Fix cisco_huu_tool
  scripts/cisco_huu_tool
Due: none

Update README (#288)
  README.md
Due: none

Enable automated node cleaning
  environments/kolla/files/overlays/ironic/ironic-conductor.conf
Due: none

Add tempest image
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

Add tempest image (#291)
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

Configure automated cleaning
  environments/kolla/files/overlays/ironic/ironic-conductor.conf
  environments/kolla/files/overlays/ironic/policy.yaml
Due: none

fix custom_fields not getting synced to metalbox with get-netbox-config because the "extract_config_values" only handles special cases. fixes: #293
  environments/manager/get-netbox-config.py
Due: none

Fix cisco_huu_tool (#289)
  scripts/cisco_huu_tool
Due: none

Add script to fetch MAC addresses (#281)
  contrib/get_mac.sh
Due: none

Add secrets to netbox data types
  environments/manager/configuration.yml
Due: none

Add secrets to netbox data types (#297)
  environments/manager/configuration.yml
Due: none

Make SONiC optional
  README.md
  environments/infrastructure/configuration.yml
  environments/manager/configuration.yml
  scripts/deploy-sonic.sh
  scripts/disable-sonic.sh
  scripts/run-all.sh
Due: none

Make SONiC optional (#298)
  README.md
  environments/infrastructure/configuration.yml
  environments/manager/configuration.yml
  scripts/deploy-sonic.sh
  scripts/disable-sonic.sh
  scripts/run-all.sh
Due: none

Configure automated cleaning (#292)
  environments/kolla/files/overlays/ironic/ironic-conductor.conf
  environments/kolla/files/overlays/ironic/policy.yaml
Due: none

Use rclone instead of mc for S3 uploads
  .zuul.yaml
  zuul/mirror-container-images.yml
  zuul/mirror-debian-packages.yml
  zuul/mirror-octavia-image.yml
Due: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

Use rclone instead of mc for S3 uploads (#299)
  .zuul.yaml
  zuul/mirror-container-images.yml
  zuul/mirror-debian-packages.yml
  zuul/mirror-octavia-image.yml
Due: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

Ensure dnsmasq and httpd services are running before infrastructure deployment
  scripts/deploy-infrastructure.sh
Due: none

Ensure dnsmasq and httpd services are running before infrastructure deployment (#300)
  scripts/deploy-infrastructure.sh
Due: none

Fix public access for rclone S3 uploads
  zuul/mirror-container-images.yml
  zuul/mirror-debian-packages.yml
  zuul/mirror-octavia-image.yml
Due: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

README: add manual prepartion of the ironic volume
  README.md
Due: none

README: add manual prepartion of the ironic volume (#302)
  README.md
Due: none

Fix skopeo copy to explicitly target linux/amd64 platform
  scripts/single-image-export.sh
Due: none

Path conditions:
  metalbox-mirror-debian-packages: any of: ^zuul/files/Containerfile, ^zuul/files/create-mirror.sh, ^zuul/files/packages.list, ^zuul/files/repositories.conf, ^zuul/mirror-debian-packages.yml, ^zuul/pre-mirror-debian-packages.yml
  metalbox-mirror-container-images: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-container-images-full: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-debian-packages-publish: any of: ^zuul/files/Containerfile, ^zuul/files/create-mirror.sh, ^zuul/files/packages.list, ^zuul/files/repositories.conf, ^zuul/mirror-debian-packages.yml, ^zuul/pre-mirror-debian-packages.yml
  metalbox-mirror-container-images-publish: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-container-images-full-publish: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
