Repository osism/metalbox: changes, and which Zuul jobs are due for each by the changed paths.
All: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish

metalbox-mirror-debian-packages:
  nodeset: ubuntu-noble-large
  pre-run: zuul/pre-mirror-debian-packages.yml
  run: zuul/mirror-debian-packages.yml
  timeout: 16200

metalbox-mirror-container-images:
  nodeset: ubuntu-noble-large
  pre-run: zuul/pre-mirror-container-images.yml
  run: zuul/mirror-container-images.yml

metalbox-mirror-debian-packages-publish:
  parent: metalbox-mirror-debian-packages
  vars:
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

metalbox-mirror-container-images-publish:
  parent: metalbox-mirror-container-images
  vars:
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

zuul: add netdata repository (#212)
  zuul/files/packages.list
  zuul/files/repositories.conf
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

README: update of the Ubuntu repository (#210)
  README.md
Due: none

Always configure the local repository service
  README.md
  environments/configuration.yml
  environments/infrastructure/configuration.yml
  scripts/disable-repository.sh
  scripts/enable-repository.sh
  scripts/remove-repository-config.sh
Due: none

Always configure the local repository service (#213)
  README.md
  environments/configuration.yml
  environments/infrastructure/configuration.yml
  scripts/disable-repository.sh
  scripts/enable-repository.sh
  scripts/remove-repository-config.sh
Due: none

Use /opt/configuration in remove-repository-config.sh
  scripts/remove-repository-config.sh
Due: none

Use /opt/configuration in remove-repository-config.sh (#214)
  scripts/remove-repository-config.sh
Due: none

README: download and copy ubuntu-noble.tar.bz2
  README.md
Due: none

README: download and copy ubuntu-noble.tar.bz2 (#215)
  README.md
Due: none

manager: enable frontend service
  environments/manager/configuration.yml
Due: none

manager: enable frontend service (#216)
  environments/manager/configuration.yml
Due: none

zuul: prepare full registry mirror
  .zuul.yaml
  README.md
  zuul/mirror-container-images.yml
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

zuul: prepare full registry mirror (#217)
  .zuul.yaml
  README.md
  zuul/mirror-container-images.yml
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

zuul: add --retry-times parameter to skopeo commands
  zuul/mirror-container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

zuul: add --retry-times parameter to skopeo commands (#218)
  zuul/mirror-container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

manager: make frontend and ara server available on all addresses
  environments/manager/configuration.yml
Due: none

manager: make frontend and ara server available on all addresses (#219)
  environments/manager/configuration.yml
Due: none

Remove backup from remove-repository-config.sh
  scripts/remove-repository-config.sh
Due: none

zuul: add prometheus exporter images
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

Remove backup from remove-repository-config.sh (#221)
  scripts/remove-repository-config.sh
Due: none

zuul: add prometheus exporter images (#220)
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

Change registry listen address to 0.0.0.0
  scripts/update-registry.sh
Due: none

Change registry listen address to 0.0.0.0 (#222)
  scripts/update-registry.sh
Due: none

zuul: add library/mariadb:11.8.2 image
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

Move registry to port 5001
  environments/configuration.yml
  environments/manager/group_vars/all/registries.yml
  inventory/group_vars/all/registries.yml
  scripts/update-registry.sh
  scripts/update-repository.sh
Due: none

zuul: add dnsdist image
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

zuul: add smartmontools package
  zuul/files/packages.list
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

zuul: add auditd package
  zuul/files/packages.list
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

zuul: add auditd package (#227)
  zuul/files/packages.list
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

zuul: add dnsdist image (#225)
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

zuul: add python3-docker from direct URL
  zuul/files/create-mirror.sh
  zuul/files/packages.list
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

zuul: add python3-docker from direct URL (#228)
  zuul/files/create-mirror.sh
  zuul/files/packages.list
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

zuul: add designate-mdns image
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

zuul: add designate-mdns image (#229)
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

zuul: add grafana image
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

zuul: add grafana image (#230)
  zuul/vars/container-images.yml
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-publish

zuul: add semaphores
  .zuul.yaml
Due: none

zuul: add semaphores (#231)
  .zuul.yaml
Due: none

Bump timeout for container-images-full jobs
  .zuul.yaml
Due: none

Path conditions:
  metalbox-mirror-debian-packages: any of: ^zuul/mirror-debian-packages.yml, ^zuul/pre-mirror-debian-packages.yml, ^zuul/files/create-mirror.sh, ^zuul/files/packages.list, ^zuul/files/repositories.conf
  metalbox-mirror-container-images: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-debian-packages-publish: any of: ^zuul/mirror-debian-packages.yml, ^zuul/pre-mirror-debian-packages.yml, ^zuul/files/create-mirror.sh, ^zuul/files/packages.list, ^zuul/files/repositories.conf
  metalbox-mirror-container-images-publish: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
