Repository osism/metalbox: changes, and which Zuul jobs are due for each by the changed paths.
All: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-octavia-image, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish, metalbox-mirror-octavia-image-publish

metalbox-mirror-debian-packages:
  nodeset: ubuntu-noble-large
  pre-run: zuul/pre-mirror-debian-packages.yml
  run: zuul/mirror-debian-packages.yml
  timeout: 16200

metalbox-mirror-container-images:
  nodeset: ubuntu-noble-large
  pre-run: zuul/pre-mirror-container-images.yml
  run: zuul/mirror-container-images.yml

metalbox-mirror-container-images-full:
  parent: metalbox-mirror-container-images
  timeout: 3600
  vars:
    full: true

metalbox-mirror-octavia-image:
  nodeset: ubuntu-noble-large
  pre-run: zuul/pre-mirror-octavia-image.yml
  run: zuul/mirror-octavia-image.yml

metalbox-mirror-debian-packages-publish:
  parent: metalbox-mirror-debian-packages
  semaphores:
  - name: semaphore-metalbox-mirror-debian-packages-publish
  vars:
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

metalbox-mirror-container-images-publish:
  parent: metalbox-mirror-container-images
  semaphores:
  - name: semaphore-metalbox-mirror-container-images-publish
  vars:
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

metalbox-mirror-container-images-full-publish:
  parent: metalbox-mirror-container-images
  semaphores:
  - name: semaphore-metalbox-mirror-container-images-full-publish
  timeout: 3600
  vars:
    full: true
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

metalbox-mirror-octavia-image-publish:
  parent: metalbox-mirror-octavia-image
  semaphores:
  - name: semaphore-metalbox-mirror-octavia-image-publish
  vars:
    publish: true
  secrets:
  - name: secret
    secret: SECRET_METALBOX
    pass-to-parent: true

mirror: report direct-URL download failures
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: track package sets in associative arrays
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: stop leaking IFS in dependency resolution
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: index dependencies once instead of per package
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: keep dpkg-scanpackages diagnostics
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: populate the failed-download list
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: add script to update the stable container image lists
  zuul/update-container-images-stable.py
Due: none

mirror: update stable container images to OSISM 10.2.0
  zuul/update-container-images-stable.py
  zuul/vars/container-images-manager-stable.yml
  zuul/vars/container-images-openstack-stable.yml
Due: none

mirror: harden the stable image update script
  .gitignore
  .zuul.yaml
  zuul/test_update_container_images_stable.py
  zuul/unittest.yml
  zuul/update-container-images-stable.py
Due: none

mirror: refuse to build an incomplete mirror
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: add the hardening role's packages
  zuul/files/packages.list
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: add the Ceph runtime images
  zuul/vars/container-images-openstack-2025.1.yml
  zuul/vars/container-images-openstack-stable.yml
Due: none

mirror: verify the archive before destroying the registry
  scripts/update-registry.sh
Due: none

scripts: find imports on a pre-mounted medium
  scripts/netbox-import.sh
  scripts/octavia-import.sh
  scripts/sonic-import.sh
Due: none

zuul: stop hiding rclone output on upload
  zuul/mirror-container-images.yml
  zuul/mirror-debian-packages.yml
  zuul/mirror-octavia-image.yml
Due: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-octavia-image, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish, metalbox-mirror-octavia-image-publish

zuul: give docker push its own task
  zuul/mirror-debian-packages.yml
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Add 2026.1 registry image build
  .zuul.yaml
  zuul/vars/container-images-openstack-2026.1.yml
Due: none

mirror: add the pinned boot and libc companions
  zuul/files/packages.list
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Drop the 2024.2 full registry tarball
  .zuul.yaml
  zuul/vars/container-images-openstack-2024.2.yml
Due: none

mirror: drop base images nothing deploys
  zuul/vars/container-images-metalbox.yml
Due: none

Mirror phpmyadmin from its release repository
  zuul/test_update_container_images_stable.py
  zuul/update-container-images-stable.py
  zuul/vars/container-images-manager-stable.yml
Due: none

Mirror the otel collector contrib image
  zuul/test_update_container_images_stable.py
  zuul/update-container-images-stable.py
  zuul/vars/container-images-manager-stable.yml
Due: none

mirror: check image tags before copying
  zuul/check-container-image-tags.py
  zuul/mirror-container-images.yml
  zuul/pre-mirror-container-images.yml
  zuul/test_check_container_image_tags.py
Due: metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish

mirror: add a shared image reference renderer
  zuul/image_refs.py
  zuul/test_image_refs.py
  zuul/unittest.yml
Due: none

zuul: run mirror checks on box config changes
  .zuul.yaml
Due: none

Path conditions:
  metalbox-mirror-debian-packages: any of: ^zuul/files/Containerfile, ^zuul/files/create-mirror.sh, ^zuul/files/packages.list, ^zuul/files/repositories.conf, ^zuul/mirror-debian-packages.yml, ^zuul/pre-mirror-debian-packages.yml
  metalbox-mirror-container-images: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-container-images-full: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-octavia-image: any of: ^scripts/octavia-export.sh$, ^zuul/mirror-octavia-image.yml, ^zuul/pre-mirror-octavia-image.yml
  metalbox-mirror-debian-packages-publish: any of: ^zuul/files/Containerfile, ^zuul/files/create-mirror.sh, ^zuul/files/packages.list, ^zuul/files/repositories.conf, ^zuul/mirror-debian-packages.yml, ^zuul/pre-mirror-debian-packages.yml
  metalbox-mirror-container-images-publish: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-container-images-full-publish: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-octavia-image-publish: any of: ^scripts/octavia-export.sh$, ^zuul/mirror-octavia-image.yml, ^zuul/pre-mirror-octavia-image.yml
