Repository osism/metalbox: changes, and which Zuul jobs are due for each by the changed paths.
All: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-octavia-image, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish, metalbox-mirror-octavia-image-publish

Path conditions:
  metalbox-mirror-debian-packages: any of: ^zuul/files/Containerfile, ^zuul/files/create-mirror.sh, ^zuul/files/packages.list, ^zuul/files/repositories.conf, ^zuul/mirror-debian-packages.yml, ^zuul/pre-mirror-debian-packages.yml
  metalbox-mirror-container-images: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-container-images-full: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-octavia-image: any of: ^scripts/octavia-export.sh$, ^zuul/mirror-octavia-image.yml, ^zuul/pre-mirror-octavia-image.yml
  metalbox-mirror-debian-packages-publish: any of: ^zuul/files/Containerfile, ^zuul/files/create-mirror.sh, ^zuul/files/packages.list, ^zuul/files/repositories.conf, ^zuul/mirror-debian-packages.yml, ^zuul/pre-mirror-debian-packages.yml
  metalbox-mirror-container-images-publish: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-container-images-full-publish: any of: ^zuul/mirror-container-images.yml, ^zuul/pre-mirror-container-images.yml, ^zuul/vars/container-images.yml
  metalbox-mirror-octavia-image-publish: any of: ^scripts/octavia-export.sh$, ^zuul/mirror-octavia-image.yml, ^zuul/pre-mirror-octavia-image.yml

Document RAID config in conductor.yml
  README.md
Due: none

Document RAID config in conductor.yml (#351)
  README.md
Due: none

Add VM installation guide
  INSTALL-VM.md
  README.md
Due: none

Fix project-board automation for fork PRs
  .github/workflows/add-to-project.yml
Due: none

Select valkey over redis from 2025.2
  scripts/deploy-infrastructure.sh
  scripts/include.sh
  scripts/run-all.sh
  scripts/update-infrastructure.sh
Due: none

Select valkey over redis from 2025.2 (#368)
  scripts/deploy-infrastructure.sh
  scripts/include.sh
  scripts/run-all.sh
  scripts/update-infrastructure.sh
Due: none

Add VM installation guide (#366)
  INSTALL-VM.md
  README.md
Due: none

mirror: upload artifacts before their checksums
  zuul/mirror-container-images.yml
  zuul/mirror-debian-packages.yml
  zuul/mirror-octavia-image.yml
Due: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-octavia-image, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish, metalbox-mirror-octavia-image-publish

mirror: upload artifacts before their checksums (#371)
  zuul/mirror-container-images.yml
  zuul/mirror-debian-packages.yml
  zuul/mirror-octavia-image.yml
Due: metalbox-mirror-debian-packages, metalbox-mirror-container-images, metalbox-mirror-container-images-full, metalbox-mirror-octavia-image, metalbox-mirror-debian-packages-publish, metalbox-mirror-container-images-publish, metalbox-mirror-container-images-full-publish, metalbox-mirror-octavia-image-publish

mirror: stop leaking IFS in dependency resolution
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: populate the failed-download list
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: report direct-URL download failures
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: retry in rounds, not by failure count
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: publish cached indexes atomically
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: match package names literally, not as regex
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: strip multiarch qualifiers from dependencies
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: drop partial files on download error
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: index dependencies once instead of per package
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: end the log with the run's outcome
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: track package sets in associative arrays
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: remove the ineffective metadata cache
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: verify downloads against index checksums
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: keep dpkg-scanpackages diagnostics
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: key expected checksums by URL, not basename
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

mirror: report unreachable package indexes
  zuul/files/create-mirror.sh
Due: metalbox-mirror-debian-packages, metalbox-mirror-debian-packages-publish

Remove run-all.sh
  README.md
  scripts/run-all.sh
Due: none

Remove run-all.sh (#377)
  README.md
  scripts/run-all.sh
Due: none

Reduce README to a pointer to the documentation
  INSTALL-VM.md
  README.md
Due: none
